h1 {
    color: white;
    font-family: verdana;
    font-size: 300%;
}
p  {
    color: white;
    font-family: courier;
    font-size: 160%;
}
body {
	background-color: #30415D;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #474B4F;
}
li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8EAEBD;
}

.active {
    background-color: #031424;1
}